<div class="container mt-4">
    <div class="row justify-content-between">
      <div class="col-auto">
        <button class="btn btn-secondary btn-block custom-btn" (click)="suma()">+</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary btn-block custom-btn" (click)="resta()">-</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary btn-block custom-btn" (click)="potencia()">^</button>
      </div>
    </div>
    
    <div class="row justify-content-between mt-2">
      <div class="col-auto">
        <button class="btn btn-secondary btn-block custom-btn" (click)="multiplicacion()">×</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary btn-block custom-btn" (click)="division()">÷</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary btn-block custom-btn" (click)="limpiar()">CE</button>
      </div>
    </div>
</div>
  
  
  